body {
 background-color: #8dd4e6;
}

h1{
    text-align: center;
    color:#678cb6;
    font-size:400%
}

#ima1{
margin-left: 15%;
border-color: rgb(253, 253, 253);
border-width: 7px;
border-style: double;
}

h2{
    text-align: center;
    font-size: 250%;
}